body {
  background-color: #ffeee3;
}
h1, h2, h3, h4, h5, h6 {
    cursor: text;
    font-weight: bold;
    line-height: 1.7;
    margin: 1em 0 15px;
    padding: 0;
    position: relative;
    text-rendering: optimizelegibility;
}
h1 {
    border-bottom: 1px solid #ddd;
    font-size: 2.5em;
}
h2 {
    border-bottom: 1px solid #eee;
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1.2em;
}
h5 {
    font-size: 1em;
}
h6 {
    color: #777;
    font-size: 1em;
}
.label {
    border-radius: 0.25em;
    display: inline;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    padding: 0.2em 0.6em 0.3em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}
.label a {
    color: #fff;
}
#post-meta {
    color: #999;
    font-style: italic;
}
div#content, ul li {
  font-size: 12pt;
}

#content table tfoot tr td {
    background-color: #fff;
}
#content table tfoot > tr:nth-child(odd) > td, .content table tfoot > tr:nth-child(odd) > td, .content table tfoot > tr:nth-child(odd) > td  {
    background-color: #f9f9f9
}
#content table {
    border-collapse: separate;
    border: 2px solid grey;
    border-radius: 5px 20px;
    -moz-border-radius: 5px 20px;
    width: 100%;
    margin: 20px 0
}

#content table tr th {
    border-collapse: collapse;
    border: 1px solid black;
    color: black;
    background: rgba(219, 72, 0, 0.10);
    border-top: none;
}
#content table tbody tr td:last-child {
    border-right: none;
    border-top-right-radius: 19px;
    -moz-border-top-right-radius: 19px;
}
#content table tbody tr td:first-child {
    border-left: none;
    border-top-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
}
#content table tr td {
    border-collapse: collapse;
    border: 1px dotted grey;
}
#content table tr:last-child td {
    border-bottom: none;
}
#content table tr td:first-child {
    border-left: none;
}
#content table tfoot tr:last-child td:first-child {
    border-bottom-left-radius: 20px;
    -moz-border-bottom-left-radius: 20px;
}
#content table tr td:last-child {
    border-right: none;
}
#content table tfoot tr:last-child td:last-child {
    border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
}
#content table tfoot tr td:first-child, #content table tbody tr td:first-child {
  padding-left: 2em;
  padding-right: 2em;
  font-size: 1.5em;
  width: 1em;
  white-space: nowrap;
}
#content table tr td {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.5em;
}
#content table tbody tr td {
  font-weight: bold;
  color: #f0dfaf;
  background-color: #3f3f3f;
}
