---
layout: default
---

<h1>Articles by tag: {{ page.tag }}</h1>
{% if site.tags[page.tag] %}
    {% for post in site.tags[page.tag] %}
        {% capture post_year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% if forloop.first %}
<h3 id="{{ post_year }}">{{ post_year }}</h3>
<ul>
        {% endif %}

        {% if forloop.first == false %}
            {% assign previous_index = forloop.index0 | minus: 1 %}
            {% capture previous_post_year %}{{ site.tags[page.tag][previous_index].date | date: '%Y' }}{% endcapture %}
            {% if post_year != previous_post_year %}
</ul>
<h3 id="{{ post_year }}">{{ post_year }}</h3>
<ul>
            {% endif %}
        {% endif %}
  <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a> ({{ post.date | date_to_string }})</li>
        {% if forloop.last %}
</ul>
        {% endif %}
    {% endfor %}
{% else %}
<p>There are no posts for this tag.</p>
{% endif %}

