---
layout: default
---

{% assign post = page %}

<div>
  <div id="title">
    <h1>{{ page.title }}</h1>
    <span class="meta">{{ page.date | date_to_string}}</span>
    <p></p>
  </div>

  <div id="content">
    {{ content }}
  </div>

  <!-- post category and tags -->
  {% if post.category %}
    {% for site_category in site.data.categories %}
      {% if site_category.slug == post.category %}
        {% assign category = site_category %}
      {% endif %}
    {% endfor %}
    {% if category %}
        {% capture category_content %} in <span class="label" style="background-color:{{ category.color }}"><a href="{{ site.url }}/category/{{ category.slug }}/">{{ category.name }}</a></span>{% endcapture %}
    {% endif %}
  {% else %}
    {% assign category_content = '' %}
  {% endif %}

  {% if post.tags.size > 0 %}
    {% capture tags_content %} with {% if post.tags.size == 1 %}tag{% else %}tags{% endif %}: {% endcapture %}
    {% for post_tag in post.tags %}
      {% for data_tag in site.data.tags %}
        {% if data_tag.slug == post_tag %}
          {% assign tag = data_tag %}
        {% endif %}
      {% endfor %}
      {% if tag %}
        {% capture tags_content_temp %}{{ tags_content }}<a href="{{ site.url }}/tag/{{ tag.slug }}/">{{ tag.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
        {% assign tags_content = tags_content_temp %}
      {% endif %}
    {% endfor %}
  {% else %}
    {% assign tags_content = '' %}
  {% endif %}

  <p id="post-meta">Posted {{ category_content }}{{ tags_content }}</p>
  <p></p>

  <hr />

  {% if site.env == 'production' %}
  <!-- the tweet button -->
  <p>
    <a href="https://twitter.com/share"  class="twitter-share-button" data-url="{{ site.url }}{{ page.url }}">Tweet</a>
  </p>

  <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  <!-- end of tweet button -->

  <p>Comments:</p>
  <div id="disqus_thread"></div>
  <script>
    // var disqus_developer = 1;
    var disqus_shortname = '{{ site.comments.disqus.short_name }}';
    var disqus_identifier = '{{ page.id }}';
    var disqus_url = '{{ site.url }}{{ page.url }}';
    (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  {% endif %}
</div>
